/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ubuntu-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("./fonts/ubuntu-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/ubuntu-v14-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu";
}

#mapid {
  height: 100%;
  width: 100vw;
}

a {
  color: cornflowerblue;
}

@media (min-width: 320px) {
  .container {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 60px;
    margin-left: 20px;
    width: 750px;
  }
}

.highlight{
  font-size: 18px;
  font-weight: bold;
}

#tools {
  position: absolute;
  display: block;
  z-index: 1000;
  padding: 25px;
  width: 200px;
  height: 340px;
  top: 20px;
  right: 20px; /* 100px */
  background-color: white;
  overflow: hidden;
}

#collapse {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: #2874A6;
}

.title {
  text-align: center;
}

.range-wrap {
  /* padding-top: 5px; */
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}

.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 15%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}

.social-container {
  padding-top: 20px;
}
.social-link {
  font-size: 30px;
  color: #404040;
  text-decoration: none;
}

h1 {
  font-size: 22px;
  width: 200px;
  text-transform: uppercase;
  padding: 2px;
}

h1 span {
  color: white;
  background-color: black;
  padding-left: 2px;
  padding-right: 2px;
}
